.left-side,
.right-side {
  margin: 0 auto;
}
/*---------------------Top Header---------------------*/
.info {
  min-height: 60px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-side,
.right-side,
.delivery,
.call,
.login,
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery,
.call,
.login,
.basket {
  height: 100%;
  padding: 0 20px;
  transition: 0.5s;
}
.delivery:hover,
.call:hover,
.login:hover,
.basket:hover {
  background: #FFB231;
  cursor: pointer;
}
.call__img,
.login__img,
.basket__img,
.delivery__img {
  margin-right: 10px;
}
.left-side__language {
  margin: 0 60px;
  color: #FFB231;
  font-weight: bold;
  cursor: pointer;
}
.left-side__search {
  cursor: pointer;
}
/*--------------------- Nav ---------------------*/
.header__nav {
  position: relative;
  padding: 20px;
  background-color: #3e3e40;
  margin: 0 0 20px 0;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav li {
  list-style-type: none;
  padding: 0 15px;
  border-right: 3px solid #FFB231;
}
.nav li:last-child {
  border: none;
}
.nav a {
  display: flex;
  font-size: 16px;
  color: #F3F3F3;
  text-decoration: none;
  text-transform: uppercase;
}
#menuKitchens {
  transition: 5s;
}
.menu__kitchens,
.menu__dishes {
  display: none;
  position: absolute;
  top: 100%;
  flex-direction: column;
  background-color: #3e3e40;
  border-top: 1px solid #F3F3F3;
  z-index: 5;
}
.menu__kitchens li,
.menu__dishes li {
  color: #F3F3F3;
  padding: 15px;
  cursor: pointer;
  border-right: none;
  justify-content: left;
}
.menu__kitchens li:hover,
.menu__dishes li:hover {
  background-color: rgba(158, 158, 163, 0.3);
}
#kitchen,
#dish {
  cursor: pointer;
}
#kitchenArrow,
#dishesArrow {
  transition: 0.4s;
  margin: 3px 0 0 5px;
}
.isActive {
  display: flex;
}
.link-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__nav {
    padding: 5px;
  }
  .nav {
    display: block;
  }
  .nav li {
    border: none;
  }
  .nav li a {
    margin: 15px auto;
    justify-content: center;
  }
  #dish .nav__link,
  #kitchen .nav__link {
    margin-left: 15px;
  }
  #kitchenArrow,
  #dishesArrow {
    display: flex;
  }
  .menu__kitchens,
  .menu__dishes {
    position: static;
  }
  .menu__kitchens li,
  .menu__dishes li {
    margin: 0 auto;
  }
  .menu__kitchens li:last-child,
  .menu__dishes li:last-child {
    border-bottom: 1px solid orange;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.modalFormsMixin {
  width: 25%;
  height: 450px;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
}
.buttonMixin {
  width: 220px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #FFB231;
  border-radius: 6px;
  border: 1px solid #FFB231;
  cursor: pointer;
  transition: 0.5s;
}
.inputMixin {
  margin: 15px 0;
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
}
.closeMixin {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.dishesKitchens {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.thing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 360px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid grey;
  transition: 0.5s;
  color: black;
}
.thing:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.thing__img {
  margin-top: 20px;
  width: 80%;
  height: 300px;
  background-size: 100% 100%;
  border: none;
  transition: 0.5s;
}
.thing__img:hover {
  transform: scale(1.1);
}
.thing__name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.thing__price {
  margin-top: 20px;
  font-size: 28px;
  color: black;
  font-weight: bold;
}
.thing__toBasket {
  width: 150px;
  height: 45px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #FFB231;
  border-radius: 6px;
  border: 1px solid #FFB231;
  cursor: pointer;
  transition: 0.5s;
}
.thing__toBasket:hover {
  background-color: darkorange;
}
.thing__toBasket:focus {
  outline: none;
  border: none;
}
.slider {
  height: 600px;
  position: relative;
}
.arrows {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.arrows__left,
.arrows__right {
  width: 8%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.arrows__left-left,
.arrows__right-left,
.arrows__left-right,
.arrows__right-right {
  position: absolute;
  top: 50%;
}
.arrows__left-left {
  transform: translate(0, -50%) rotate(180deg);
}
.arrows__right-right {
  transform: translate(0, -50%);
}
.item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 1.3s;
}
.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dots {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translate(-50%, 0);
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dot {
  width: 14px;
  height: 14px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid darkgray;
  display: block;
  cursor: pointer;
}
.isActiveImg {
  opacity: 1;
}
.isActiveDot {
  background-color: #FFB231;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.5;
  z-index: 4;
  display: none;
}
.modal__wrap {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: none;
}
.deliver {
  width: 25%;
  height: 450px;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
}
.deliver__img {
  width: 50px;
  height: 30px;
}
.deliver__min {
  margin-top: 5px;
}
.deliver__close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.deliver__list {
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
}
.deliver__list a {
  text-decoration: none;
  outline: none;
  border: none;
}
.deliver__list li {
  margin: 10px 0;
}
.helper {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
}
.callback {
  width: 25%;
  height: 450px;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
}
.callback__head {
  margin-bottom: 10px;
}
.callback__name {
  margin: 15px 0;
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
}
.callback__phone {
  margin: 15px 0;
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
}
.callback__comment {
  margin-top: 15px;
  width: 250px;
  height: 100px;
  outline: 1px solid black;
  resize: none;
  padding: 10px;
  font-size: 16px;
}
.callback__button {
  margin-top: 20px;
  width: 220px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #FFB231;
  border-radius: 6px;
  border: 1px solid #FFB231;
  cursor: pointer;
  transition: 0.5s;
}
.callback__button:hover {
  background-color: darkorange;
}
.callback__button:focus {
  outline: none;
  border: none;
}
.callback__close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.loginModal {
  width: 25%;
  height: 450px;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
  justify-content: normal;
  padding: 50px;
}
.loginModal__login {
  margin: 15px 0;
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
}
.loginModal__password {
  margin: 15px 0;
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px;
  margin-bottom: 0;
}
.loginModal__button {
  margin-top: 20px;
  width: 220px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #FFB231;
  border-radius: 6px;
  border: 1px solid #FFB231;
  cursor: pointer;
  transition: 0.5s;
}
.loginModal__button:hover {
  background-color: darkorange;
}
.loginModal__button:focus {
  outline: none;
  border: none;
}
.loginModal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.loginModal__error {
  border: 1px solid black;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  background: rgba(210, 25, 62, 0.35);
  font-weight: bold;
  display: none;
}
#successForm {
  width: 300px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 11;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.headForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  background-color: #1DD67D;
  border-radius: 10px 10px 0 0;
}
.status {
  color: #ffffff;
}
.msg {
  padding: 30px;
  text-align: center;
}
.container__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.pagination {
  width: 50vw;
  height: 90vh;
  flex-direction: column;
  justify-content: space-around;
  background: url("../img/menu.jpg");
  background-size: cover;
  position: relative;
  display: none;
}
.pagination__head {
  text-align: center;
  font-size: 30px;
  color: red;
  font-weight: bold;
  margin-top: 25px;
}
.pagination__records {
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 40%;
}
.pagination__pages {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 15px;
}
.page {
  color: darkblue;
  margin: 0 3px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.record {
  min-height: 50px;
  outline: 2px solid lime;
}
.isActivePage {
  color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #3e3e40;
}
body {
  height: 100%;
}
.food-page-wrapper {
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
  position: relative;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  background: url("../img/back.png");
}
/*# sourceMappingURL=style.css.map */